.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Environment variables
.env
.env.development
.env.production
generated
data/*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
